@{
    ViewData["Title"] = "Home Page";
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">CareerVille OverView</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Estimated Arrival of Students</span>
                                    <span class="info-box-number text-center text-muted mb-0">300</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Total Number of Students</span>
                                    <span class="info-box-number text-center text-muted mb-0">2060</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Estimated active students</span>
                                    <span class="info-box-number text-center text-muted mb-0">1236</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4>Recent Activity</h4>
                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="~/ADMINLTE/dist/img/user1-128x128.jpg" alt="user image">
                                    <span class="username">
                                        <a href="#">M MOLOI</a>
                                    </span>
                                    <span class="description">ADMIN SECRETARY</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    "IT IS WHAT IT IS, UNLESS THE STUDENTS SAY OTHERWISE"
                                </p>

                                <p>
                                    <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> CAREERSVILLE</a>
                                </p>
                            </div>

                            <div class="post clearfix">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="~/ADMINLTE/dist/img/user7-128x128.jpg" alt="User Image">
                                    <span class="username">
                                        <a href="#">N WANDA</a>
                                    </span>
                                    <span class="description">SENIOR ADMIN</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                   "ROCK AND ROLL, BEEN IN THIS GAME FOR FAR TOO LONG, IM FOR THE STUDENTS"
                                </p>
                                <p>
                                    <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> CAREERSVILLE</a>
                                </p>
                            </div>

                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="~/ADMINLTE/dist/img/user1-128x128.jpg" alt="user image">
                                    <span class="username">
                                        <a href="#">SBN CELE</a>
                                    </span>
                                    <span class="description">ADMIN ASSISTANT</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                  "THROUGH IT ALL, MY PURPOSE IS FOR THE GREATER GOOD OF EDUCATION AND WITH ONLY MY STUDENTS IN MIND"
                                </p>

                                <p>
                                    <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> CAREERSVILLE</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h3 class="text-primary"><i class="fas fa-paint-brush"></i> The Future</h3>
                    <p class="text-muted">UNIVERSITY OF FUTURE CAREERSVILLE</p>
                    <br>
                    <div class="text-muted">
                        <p class="text-sm">
                            ARCHTECT
                            <b class="d-block">T GASA</b>
                        </p>
                        <p class="text-sm">
                            Project Leader
                            <b class="d-block">S MANQUMAKAZI</b>
                        <p class="text-sm">
                            Inspector
                            <b class="d-block">AM MAKHANYA</b>
                        </p>
                        <p class="text-sm">
                            Proposal Chief
                            <b class="d-block">S Ndawonde</b>
                        </p>
                        </p>
                    </div>

                    <h5 class="mt-5 text-muted">Project files</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-user"></i> Strive</a>
                        </li>
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-user"></i> Achieve</a>
                        </li>
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-user"></i> motivate</a>
                        </li>
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-user "></i> Logo.png</a>
                        </li>
                    </ul>
                    <div class="text-center mt-5 mb-3">
                        <a href="#" class="btn btn-sm btn-primary">Group 6</a>
                        <a href="#" class="btn btn-sm btn-warning">6th Group</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
  </div>
<!-- /.content-wrapper -->


